<div class="line-container">
  <svg viewBox="0 0 1228 3056" fill="none" preserveAspectRatio="xMidMax meet">
    <path d="M1007.13 2975C1010.69 2988.02 1022.15 2992.38 1032.29 2996.94C1048.85 3004.4 1057.61 2983.24 1072.8 2971.96C1092.41 2957.38 1097.87 2935.3 1119.89 2928.43C1133.7 2924.13 1142.77 2934.08 1156.29 2928.43C1172.36 2921.71 1185.45 2914 1189.6 2892.97C1193.35 2873.93 1186.28 2861.17 1177.42 2845.2L1177.32 2845.01C1167.05 2826.48 1146.35 2833.18 1139.96 2811.96C1132.72 2787.93 1156.29 2749.41 1156.29 2749.41C1156.29 2749.41 1192.43 2677.76 1177.32 2636.97C1168.68 2613.65 1157.38 2649.89 1139.96 2636.97C1102.68 2609.35 1182.99 2556.94 1139.96 2557.98C1065.81 2559.78 1156.95 2648.4 1072.8 2583.92C988.646 2519.44 722.102 2630.85 647.307 2618.43C583.243 2607.8 525.695 2625.99 488.741 2557.98C461.698 2508.22 500.045 2412.5 472.414 2404.04C444.783 2395.57 384.911 2405.11 391.131 2374.5C398.013 2340.63 427.631 2429 427.631 2383C427.631 2337 280.14 2560.51 304.631 2546C329.122 2531.49 281.227 2554.05 279.131 2546C323.131 2520 173.131 2600 206.131 2498.5C239.131 2397 130.631 2584.47 119.131 2522.47C107.631 2460.47 206.631 2414 183.131 2314C159.631 2214 114.131 2208 104.631 2183.5C95.1309 2159 59.1308 1952.5 65.1308 1865.5C71.1308 1778.5 112.131 1668 129.631 1583C147.131 1498 158.131 1458 78.1309 1406C-1.86911 1354 65.1308 1266.5 65.1308 1266.5C65.1308 1266.5 78.1309 1228.5 78.1309 1209.5C78.1309 1190.5 78.1309 1170 104.631 1160.5C131.131 1151 129.631 1127.5 129.631 1127.5C129.631 1127.5 118.631 1111.5 129.631 1089.5C140.631 1067.5 160.131 1022.5 160.131 1022.5C160.131 1022.5 175.131 965 160.131 946C145.131 927 95.1308 907 74.1308 888.5C53.1309 870 45.1308 810 43.6308 801C42.1308 792 21.1308 726 25.6308 702.5C30.1308 679 43.6308 690 74.1308 654C104.631 618 332.631 523.5 354.131 481C375.631 438.5 360.131 379.5 375.631 351C391.131 322.5 401.761 347 401.761 358C401.761 369 398.973 379 420.473 379C425.96 379 429.038 378.479 430.577 377.703M986.473 24C986.473 43.5 979.973 40.5 966.973 52.5L957.473 92C957.473 92 964.048 166 913.261 142C862.473 118 804.473 133.5 804.473 133.5C804.473 133.5 728.761 146 724.261 150.5C700.261 164.19 665.131 174.5 658.131 195C651.131 215.5 651.131 229.5 624.631 246.5C598.131 263.5 563.473 254 549.473 253C535.473 252 473.631 260.5 473.631 260.5C473.631 260.5 419.261 272 401.761 279C384.261 286 371.131 305 375.631 326.5C380.131 348 395.261 298 410.761 320C426.261 342 440.261 337.75 449.761 335.5C459.261 333.25 471.261 335.5 493.761 346.5C516.261 357.5 426.76 368.5 449.761 371C472.761 373.5 444.473 413 436.973 393C434.287 385.837 432.178 380.983 430.577 377.703M430.577 377.703C427.709 371.824 426.473 371 426.473 371C426.473 371 435.071 375.437 430.577 377.703ZM1014 2C1060 15.6 1064.5 41.5 1051.5 53.5L1015.13 71C1015.13 71 956.129 144.5 946.629 122.5C937.129 100.5 873.13 122.5 873.13 122.5C873.13 122.5 762.13 126.5 757.63 131C733.63 144.69 698.5 155 691.5 175.5C684.5 196 684.5 210 658 227C631.5 244 598.63 228 584.63 227C570.63 226 507 241 507 241C507 241 452.629 252.5 435.129 259.5C417.629 266.5 324.499 279 328.999 300.5C333.431 321.671 425.742 279.815 443.363 299.537M443.363 299.537C443.637 299.843 443.892 300.164 444.129 300.5C459.629 322.5 473.629 318.25 483.129 316C492.629 313.75 504.63 316 527.13 327C549.63 338 546 343 569 345.5C592 348 623.5 327 616 307C608.5 287 569 288.5 569 288.5H512.5C491 288.5 489.87 276.5 466.999 288.5C458.677 292.867 450.784 295.975 443.363 299.537ZM443.363 299.537C430.39 305.762 418.859 313.371 408.999 331.5C393.499 360 403.999 404.5 384.499 441.5C364.999 478.5 299.499 506.5 299.499 506.5L182.5 542C182.5 542 138 549 119 557.5C100 566 59.9999 571 28.9999 611C-2.00007 651 3.00003 663 3.00003 663L6.5 682L16.5 712.5L28.9999 779C28.9999 779 31.9999 821.5 54.4999 883.5C76.9999 945.5 171.5 898 182.5 909C193.5 920 193.5 937 193.5 937C193.5 937 198.5 951 182.5 978C166.5 1005 129 1030.5 119 1043C109 1055.5 101.5 1060.5 101 1090.5C100.5 1120.5 98.0004 1145.5 119 1146.5C140 1147.5 141.5 1125 156 1138C170.5 1151 165.817 1132 169.5 1170C173.183 1208 112 1207.5 112 1243C112 1278.5 74.5007 1324.5 101 1301.5C127.5 1278.5 83 1340.5 83 1382C83 1411.07 106.564 1407.74 125.31 1406.07M125.31 1406.07C133.329 1405.35 140.466 1404.94 144.5 1407.5C157.963 1416.03 168.5 1421 144.5 1393C120.5 1365 133.5 1353.44 128 1351C122.5 1348.56 109 1352.5 112 1368C113.017 1373.26 118.403 1387.82 125.31 1406.07ZM125.31 1406.07C138.775 1441.64 158.022 1491.19 161.963 1513C167.926 1546 161.963 1533 156 1559.5C150.037 1586 139.5 1620.5 139.5 1620.5C139.5 1620.5 113.87 1745.5 107.37 1774C100.87 1802.5 107.37 1830 107.37 1830C107.37 1830 139.5 1820.5 139.5 1868C139.5 1915.5 116 2032 119 2074C122 2116 149 1977.5 156 2023.5C163 2069.5 182 2040.5 180 2074C178 2107.5 258.5 2168 247 2242C235.5 2316 197.5 2339 197.5 2339C197.5 2339 215.5 2383.5 180 2383.5C144.5 2383.5 201.13 2417 232.63 2416C264.13 2415 250.63 2374.5 269.13 2383.5C287.63 2392.5 258 2394 258 2446C258 2498 306.13 2451.5 308.13 2470C310.13 2488.5 374.37 2459 364 2470C359.518 2474.75 375.117 2470.17 392.943 2465.49M392.943 2465.49C416.358 2459.34 443.614 2453.02 434.246 2467.5M392.943 2465.49C364.403 2440.85 333.456 2391.47 398.499 2409.5C436.796 2420.12 444.417 2438.18 442.786 2452.45M392.943 2465.49C401.598 2472.96 410.031 2478.15 415.499 2478.5C423.741 2479.03 429.522 2474.2 434.246 2467.5M434.246 2467.5C425.201 2481.48 440.806 2469.76 442.786 2452.45M434.246 2467.5C437.43 2462.98 440.134 2457.61 442.786 2452.45M442.786 2452.45C447.418 2443.44 451.893 2435.06 458.499 2433C474.499 2428 497.5 2435.5 514.5 2446C531.5 2456.5 548 2488 569 2504C590 2520 583 2529.5 616 2532C649 2534.5 768 2499.5 799 2478.5C830 2457.5 829.5 2438.5 883.5 2433C937.5 2427.5 1023.5 2446 1023.5 2446C1023.5 2446 1102 2465.5 1131 2467.5C1160 2469.5 1180.5 2506.5 1176.5 2532C1172.5 2557.5 1148.5 2631.5 1148.5 2631.5C1148.5 2631.5 1125 2674 1131 2713.5C1137 2753 1192 2755.5 1206.5 2801.5C1221 2847.5 1240 2818 1221.5 2877C1203 2936 1148.5 2954.5 1148.5 2954.5C1148.5 2954.5 1137.97 2961.44 1124.76 2969.61M1124.76 2969.61C1110.06 2978.69 1092.03 2989.29 1081.5 2993.5C1061.5 3001.5 1072 2969 1092.5 2954.5C1106.47 2944.62 1117.96 2954.24 1124.76 2969.61ZM1124.76 2969.61C1127.94 2976.79 1130.09 2985.22 1131 2993.5C1133.84 3019.5 1092.5 3041 1092.5 3041C1092.5 3041 1053 3055 1010.5 3056C968 3057 946 3041 941.5 3015C937 2989 952.5 3011.5 963 2993.5C973.5 2975.5 963 2967.5 963 2967.5M958.5 39.5C1004.5 53.1 993 81 980 93L950.5 121C950.5 121 902.5 183.5 893 161.5C883.5 139.5 819.5 161.5 819.5 161.5C819.5 161.5 755 203.5 751 192.5C750.045 189.872 748.69 188.272 746.962 187.289M746.962 187.289C741.459 184.16 732.178 187.306 720 183.5C704 178.5 720 161.5 720 161.5C720 161.5 724.5 154 738.5 161.5C752.5 169 757 174.363 751 183.5C749.971 185.067 748.618 186.282 746.962 187.289ZM746.962 187.289C738.963 192.153 723.884 192.158 704 203.5C690.879 210.984 670.285 211.481 658.152 209.739M658.152 209.739C648.092 208.295 643.848 205.313 654.5 203.5C661.941 202.234 662.163 204.927 658.152 209.739ZM658.152 209.739C649.493 220.126 621.11 240.383 603 252C576.5 269 545 267 531 266C517 265 420 237.5 415.5 235C411 232.5 399 228 381.5 235C364 242 359.5 263 364 284.5C368.5 306 375 317.5 390.5 339.5C403.163 357.473 414.824 357.926 423.849 356.263M423.849 356.263C425.871 355.891 427.761 355.412 429.5 355C439 352.75 451 355 473.5 366C485.137 371.689 490.22 367.882 495.598 363.226M423.849 356.263C434.212 345.252 451.581 330.342 462.5 339.5C473.736 348.924 488.387 358.61 495.598 363.226M423.849 356.263C419.501 360.884 416.387 364.818 415.5 366C412.5 370 388 377.5 381.5 384.5C375 391.5 381.5 400 381.5 400C381.5 400 386 401 385.5 407C385 413 388.5 418 375 429C361.5 440 309 441.5 300.5 441.5C292 441.5 284.5 437 284.5 437M495.598 363.226C500.619 358.88 505.896 353.793 517 355C540 357.5 542.5 360 531 366C519.5 372 500 366 500 366C500 366 498.335 364.978 495.598 363.226ZM1005 2942.5C1005 2942.5 1037.72 2986.27 1042.61 3001.6C1050.17 3025.3 1057.99 3045.61 1084.06 3027.61C1110.13 3009.61 1106.12 2958.1 1144.22 2927.09C1182.33 2896.09 1175 2873.61 1182.33 2831.58C1188.95 2793.6 1211.74 2741.57 1182.33 2731.06C1152.91 2720.56 1193.73 2601.79 1164.95 2540.04C1125.61 2455.65 1064.35 2478.22 996.149 2465.02C916.526 2449.62 880.497 2563.04 790.917 2483.03C701.337 2403.02 667.96 2496.31 589.028 2498.53C543.218 2499.82 511.384 2532.8 471.704 2498.53C453.153 2482.51 441.124 2470.97 431.928 2442.02C415.85 2391.41 384.5 2498.53 334 2498.53C283.5 2498.53 204 2413.5 215 2390.5C226 2367.5 185.5 2334 190.5 2292.5C195.5 2251 183.5 2205 165.5 2152.5C147.5 2100 115 2044.5 108.5 2007.5C102 1970.5 104.5 1971 108.5 1925.5C112.5 1880 169 1723.5 178.5 1685C188 1646.5 178.5 1596 178.5 1550.5C178.5 1505 180 1432 155 1397C130 1362 143.5 1397 108.5 1317C73.5 1237 108.5 1249 128 1232.5C147.5 1216 122 1163.5 108.5 1192.5C95.0001 1221.5 168 1229 143.5 1129C119 1029 160 893 143.5 862C127 831 87 805 87 805C87 805 66.0001 789 34.5001 759C3.00006 729 7.50008 702.5 13.5001 685.5C19.5001 668.5 8.00003 642 43.5 614C79 586 143.5 572 157 560C170.5 548 188.5 514.5 202 497.5C215.5 480.5 284.5 437 284.5 437M284.5 437C284.5 437 293 431.5 296 429C299 426.5 298 429 300.5 422C303 415 287 416.5 280 416.5C273 416.5 264 414 262 425.5C260 437 273.289 426.731 284.5 437Z" stroke="black" stroke-width="4"/>
  </svg>
</div>
<div class="content">
<div class="section home">
  <div class="section-content">
    <div class="section-text">
      <h1>Lydia Ratto</h1>
      <div class="inner-text">
        <p>Hey I'm Lydia,
        <br>
        a <strong>full-stack developer</strong> based in London.
        <br>
        Find out about me and my work. If you like what you see, feel free to reach out!</p>
        <br>
        <br>
        <br>
        <a href="#contact" class="button" data-controller="scroll-to">Get in touch</a>
      </div>
    </div>
    <div class="img">
    <%= image_tag('lydia-logo.png', class: "img-circle medium") %>
    </div>
  </div>
</div>
<div class="section projects" id="projects">
  <div class="section-content">
    <div class="section-text" data-controller="projects-reveal">
      <h1>Projects</h1>
      <div class="inner-text">
        <p>Discover some of my work</p>
      </div>
      <div class="banner-box" data-projects-reveal-target="image">
        <div class="banner" style="background-image: url(<%= asset_path 'walkin.png' %>)"></div>
        <div class="banner-text">WalkIn</div>
        <div class="project-text hidden" data-projects-reveal-target="banner">
          <div class="project-langs">
          <ul>
            <li>Ruby</li>
            <li>Rails</li>
            <li>Html</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
          </div>
          <div class="project-info">
            <p>A mobile-first website for last minute restaurant bookings.
              Users can easily find restaurants in a given area and filter according to their needs and preferences.
              Users also have the option to favourite restaurants and see their bookings on their profile.
            </p>
            <a href="http://walk--in.herokuapp.com/" target="_blank">Visit WalkIn <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="banner-box" data-projects-reveal-target="image">
        <div class="banner" style="background-image: url(<%= asset_path 'sugo.png' %>)"></div>
        <div class="banner-text">Sugo</div>
        <div class="project-text hidden" data-projects-reveal-target="banner">
          <div class="project-langs">
          <ul>
            <li>JavaScript</li>
            <li>Html</li>
            <li>CSS</li>
          </ul>
          </div>
          <div class="project-info">
            <p>A time-management website using the pomodoro method. It incorporates a reminder to drink water and a 'fill-tank' to track progress.
            </p>
            <a href="https://lydia-ratto.github.io/sugo/" target="_blank">Visit Sugo <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="banner-box" data-projects-reveal-target="image">
        <div class="banner" style="background-image: url(<%= asset_path 'airbnb.png' %>)"></div>
        <div class="banner-text">Air BroomNBroom</div>
          <div class="project-text hidden" data-projects-reveal-target="banner">
            <div class="project-langs">
            <ul>
              <li>Ruby</li>
              <li>Rails</li>
              <li>JavaScript</li>
              <li>Html</li>
              <li>CSS</li>
            </ul>
          </div>
          <div class="project-info">
            <p>An Air BnB style website where users can hire and rent out broomsticks. Users can see their bookings on their profile page. If they are renting out products, they can also choose to accept or decline a booking request.
            </p>
            <a href="https://airbnb-yasbrown.herokuapp.com/" target="_blank">Visit Air Broom N Broom <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section about" id="about">
  <div class="section-content">
    <div class="section-text">
      <h1>About me</h1>
      <div class="inner-text">
        <p>I love to combine logic and creativity.</p></p>
        <br>
        <p>When I’m not on my laptop I enjoy arts and craft projects, learning languages and hiking.</p>
      </div>
    </div>
    <div class="img">
    <%= image_tag('lydia-photo.jpg', class: "img-circle medium") %>
    </div>
  </div>
</div>
<div class="section contact" id="contact">
  <div class="section-content">
    <div class="section-text">
      <h1>Contact</h1>
      <div class="inner-text">
        <p>email: lydiaratto@gmail.com
        <br>
        phone: 07 727 194 593 </p>
      </div>
    </div>
    <div class="icon-section">
      <h2>Find me on:</h2>
      <div class="section-content">
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
